.card {
  max-width: 300px;
  background-color: #eddcd2;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  overflow: hidden;
}

.card_header {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.heading {
  font-weight: 600;
  color: black;
  text-align: center;
}
.date {
  opacity: 0.9;
  font-size: small;
}

.note {
  font-size: 0.95em;
}

.card_footer {

  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
