.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 10px;
  background-color: #eddcd2;
  border: 1px solid black;
  margin: 10px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
}

.small {
  text-align: right;
  opacity: 0.9;
  color: var(--dark);
}

.counter {
  color: var(--dark);
  font-weight: 700;
}
