:root {
  --primary: #f0efeb;
  --light: #9DA0A7;
  --dark: #11141B;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--f0efeb);
  color: var(--dark);
}
